.table-admin {
  margin: 10px;
}

.table td,
th {
  text-align: center;
}

.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.adminPage {
  background-image: url("../../public/images/darkElectronics.jpg");
}

.custom-table {
  width: 70%; /* Adjust the width as needed */
}
